.dashboardTainer {
    height: 100%;
}

.swal2-popup {
    font-size: 2rem !important;
}

.swal2-confirm {
    
}

.swal2-textarea {
    font-family: 'Tangerine', cursive;
    font-size: 48px;
}

.swal2-input {
    
}
.swal2-input-label {
    font-size: 36px;
}
#swal2-title {
    font-size: 48px;
}

.swal2-html-container {
    font-size: 48px;
}

.swal2-styled {
    padding-bottom: 50px;

}

.swal2-default-outline {

}

@media screen and (max-width: 600px) {
    .swal2-styled {
        padding-bottom: 50px;
        padding-right: 80px;
    
    }
}