.swal2-popup {
    font-size: 2rem !important;
}

.swal2-confirm {
    
}

.swal2-select {
    font-family: 'Tangerine', cursive;
    font-size: 2.05rem;
    
}

.swal2-textarea {
    font-family: 'Tangerine', cursive;
    font-size: 48px;
}

.swal2-input {
    font-size: 1.25rem;;
}
.swal2-input-label {
    font-size: 36px;
}
#swal2-title {
    font-size: 48px;
}

.swal2-html-container {
    font-size: 2.5rem;
}
#swal2-html-container {

}
/* buttons div */
.swal2-actions {
    font-size: 1rem;
}




/* buttons below */

.swal2-cancel {
    
}

.swal2-styled {
    /* padding-bottom: 50px;  */
    font-size: 2rem;
}

.swal2-default-outline {
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .swal2-styled {
        /* padding-bottom: 50px;
        padding-right: 80px; */
    
    }
}