.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

input {
    width: 50vw;
}
input:focus {
    color: crimson;
    outline: none; 
}

button {
    width: 20vw;
    font-family: 'Tangerine', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    text-align: center;
}
.removeEvent {
    width: 125px;
}
.addEvent {
    width: 125px;
}

button {
    background-color: #dc143c;
}

.btnInvert {
    background-color: #dc143c;
    transition-property: background-color, color;
    transition-duration: .75s;
    transition-delay: 0s;
}

.btnInvert:hover {
    background-color: whitesmoke;
    border: 1px solid crimson;
    color: crimson;
    padding: 1px;
}

.eventNameDate {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font: bold;
    font-size: 2rem;
}

#invitesTainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hideEvent {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}