.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    
}

.formContainer i {
    position: absolute;
}

/* input {
    width: 50vw;
} */

.searchInput {
    width: 250px;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font: bold;
    font-size: 2rem;

}

button {
    width: 20vw;
    
}
.plusbutton {
    width: 50px;
    font-size: 72px;
    line-height: 0%; 
}



h2 {
    text-align: center;
}

.giftContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
ul {
    list-style-type: none;
    border: 1px solid pink;
    padding: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.searchContainer > span > input {
    width: 200px;
}

.searchContainer > span > button {
    width: 65px;
}
.searchContainer > span {
    align-items: center;
    justify-content: center;
    display: flex;
}
 /* admin6@aol.com admin@matrix.org */

 th {
    padding: 5px;
 }

 table {
    width: 55vw;
    text-align: center;
 }
 td {
    margin: 5px;
    padding: 5px;
    
 }
.cb {
    width: 50px;
}
@media screen and (max-width: 700px) {
    table {
        width: 98%;
    }
}   




input:disabled {
    content: "\2714";
    border: .1em solid #000;
}

.removeGift {
    width: 110px;
}
.addGift {
    width: 110px;
}

.btnInvert {
    background-color: #dc143c;
    transition-property: background-color, color;
    transition-duration: .75s;
    transition-delay: 0s;
}

.btnInvert:hover {
    background-color: whitesmoke;
    border: 1px solid crimson;
    color: crimson;
    padding: 1px;
}

#giftLinkInput {
    
}
#iconEl {
    display: inline-flex;
    justify-content: center;
    align-self: baseline;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-right: 3px;
}
#iconEl > div {
    margin-left: 3px;
    font-size: 1.5rem;
    background-color: rgb(255, 192, 203, .75);
    border-radius: 5px;
    
}

#pasteicon {
    cursor: pointer;
    margin: 0px 1px 0px 1px;
    padding: 1px;
    color: #000;

}
#pasteicon:hover {
    border: 1px solid crimson;
    border-radius: 3px;
    padding: 1px;
}
#iconEl > div {
    margin: 0;
}

#addeventparti {
    background-color: rgb(255, 255, 255, .75);
    border-radius: 5px;
}

.giftInputs {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font: bold;
    font-size: 2rem;
}

.giftInputs:focus {
    color: crimson;
    outline: none;
}

#addPartIcon {
    margin-left: 5px;
    color: crimson;
    padding: 2px;
    border-radius: 5px;
    background-color: white;
    transition-property: background-color, color;
    transition-duration: .75s;
    transition-delay: 0s;
}

#addPartIcon:hover {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #dc143c;
}

#refreshBtn {
    margin-left: 5px;
    color: crimson;
    padding: 2px;
    border-radius: 5px;
    background-color: white;
    transition-property: background-color, color;
    transition-duration: .75s;
    transition-delay: 0s;
    width: 40px;
}
#refreshBtn:hover {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #dc143c;
}


