.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    
}

.formContainer i {
    position: absolute;
}

/* input {
    width: 50vw;
} */

.searchInput {
    width: 250px;
}

button {
    width: 20vw;
    
}
.plusbutton {
    width: 5vw;
    min-width: 50px;
    font-size: xx-large;
}

h2 {
    text-align: center;
}

.giftContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
ul {
    list-style-type: none;
    border: 1px solid pink;
    padding: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.searchContainer > span > input {
    width: 200px;
}

.searchContainer > span > button {
    width: 65px;
}
.searchContainer > span {
    align-items: center;
    justify-content: center;
    display: flex;
}
 /* admin6@aol.com admin@matrix.org */

 th {
    padding: 5px;
 }

 table {
    width: 70vw;
    text-align: center;
 }
 td {
    margin: 10px;
    padding: 5px;
    min-height: 100px;
 }
.cb {
    width: 50px;
}

input:disabled {
    content: "\2714";
    border: .1em solid #000;
}

.removeGift {
    width: 110px;
}
.addGift {
    min-width: 55px;
}

.btnInvert:hover {
    background-color: whitesmoke;
    border: 1px solid crimson;
    color: crimson;
    padding:1px;
}

#pasteSpan {
    display: flex;
    right: 0;
    gap: 15px;
}
#giftLinkInput {
    
}
#iconEl {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#pasteicon {
    cursor: pointer;
}



