


.eventsTable {
    text-align: left;
    border: 1px dotted crimson;
    border-radius: 5px;
    padding: 0px 2px 5px 2px;
    margin: 5px;
    table-layout: fixed;
    
    
}
.eventsTable thead tr th {
    text-decoration: underline;
    font-size: 2rem;
    font-style: italic;
}
.tableContainer {
    /* width: clamp(30vw, 50vw, 75vw); */
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

table {
    width: 55vw;
    
    /* text-align: center; */
}
@media screen and (max-width: 700px) {
    table {
        width: 90vw;
    }
}

td { 
    font-size: clamp(.75rem, 1.75rem, 2rem);
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

th, td {
    /* white-space: nowrap; */
}
.firsttd {
    width: 500px;
}

.firsttd > a {
    text-decoration: none;
    font-weight: 900;
    font-size: 3rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: crimson;
}

#dateTd {
    font-size: .75rem;
}
#hostedTd {
    font-size: 1rem;
}
.infoTd {
    text-align: center;
    width: 55px;
    padding-right: 10px;
    
}


.firstTableRow {
    /* background-color: aliceblue; */
    background-color: rgba(220, 20, 60, .25);
  }
.firstTableRow > td {
    border-radius: 4px;
  }

.secondTableRow {
    /* background-color: aliceblue; */
    background-color: rgba(245, 245, 245, .75);
  }
.secondTableRow > td {
    border-radius: 4px;
  }

  

