.eventsTable {
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 2px 30px 2px;
    margin: 5px;
    table-layout: fixed;
    width: clamp(75%, 100%, 95%);
    
}
.eventsTable thead tr th {
    text-decoration: underline;
    font-size: 1.5rem;
    font-style: italic;
}
.tableContainer {
    /* width: clamp(30vw, 50vw, 75vw); */
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

td { 
    font-size: clamp(.75rem, 1.25rem, 2rem);
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

th, td {
    /* white-space: nowrap; */
    
}
.firsttd {
    width: 500px;
}

.firsttd > a {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#dateTd {
    font-size: .75rem;
}
#hostedTd {
    font-size: 1rem;
}
.infoTd {
    text-align: center;
    width: 55px;
}
