.eventInfoTainer {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 70vw;
    margin-left: 15vw;
    
    
}

@media only screen and (max-width: 500px) {
    #eventInfoTable {
        width: 96vw;
    }
    #dropDownTainer {
        flex-direction: column;
    }
    
}
@media only screen and (min-width: 600px) {
    #eventInfoTable {
        width: 60%;
    }
}
.eventInfoTainer > h2 {
    margin: 5px 0px 5px 0px;
    text-align: center;
}
.eventInfoTainer > h3 {
    margin: 5px 0px 5px 0px;
    text-align: center;
}
.eventInfoTainer > h5 {
    margin: 5px 0px 15px 0px;
    text-align: center;
}

.tableTainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    /* width: 80vw;
    margin-left: 10vw; */
}

.tableTainer > table > th {
    font-size: 3rem;
}
#dropDownTainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
#dropDownTainer > select {
    font-family: 'Tangerine', cursive;
    font-size: 1.5rem;
    font-weight: 800;
}
#dropDownTainer > select > optgroup > option {
    font-family: 'Tangerine', cursive;
    font-size: 1.5rem;
    font-weight: 800;
}
.firstRowColor {
    background-color: rgba(220, 20, 60, .25); 
}
.firstRowColor > td {
    border-radius: 4px;
}
.total {
    border: 1px solid crimson;
    border-radius: 4px;
    padding: 10px;
    font-size: 2rem;
    margin-top: 15px;
}
.eInfoSelect {
    border-radius: 4px;
    margin-right: 5px;
    width: 170px;
}
.hideTainer {
    display: none;
}
.noData {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

table > tbody > tr {
    height: 70px;
}
.whiteBgOpacity {
    background-color: rgba(255, 255, 255, .75);
    border-radius: 4px;
    width: fit-content;
}
table {
    width: 70vw;
}


label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-left: 5px;
    margin-right: 5px;
}

/* .forPersonCol {
    max-width: 100px;
    text-overflow: ellipsis;
}
.costCol {
    width: 25px;
}
.linkCol {
    width: 20px;
}
.itemCol {
    max-width: 100px;
    text-overflow: ellipsis;
} */

