.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 25px;
} */
/* .content-container {
  width: 70vw;
  margin-left: 15vw;
} */



/* .content-container {
  background: url('./stack_of_presents.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: -450px;
  background-position-y: -50px;
  height: 100vh;
} */

.content-container {
  background-image: url('./stack_of_presents.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: -850px;
  background-position-y: -200px;
  height: 100%;
}

.content-container2 {
  background-image: url('./stack_of_presents.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: 1400px;
  background-position-y: -50px;
  height: 100%;
}
/*******************************************************************/
@media screen and (max-width: 1500px) {
  .content-container {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: -650px;
    background-position-y: -100px;
    height: 100%;
  }
  
  .content-container2 {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: 1100px;
    background-position-y: -50px;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .content-container {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: -550px;
    background-position-y: -50px;
    height: 100%;
  }
  
  .content-container2 {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: 900px;
    background-position-y: -50px;
    height: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .content-container {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: -425px;
    background-position-y: -50px;
    height: 100%;
  }
  
  .content-container2 {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: 700px;
    background-position-y: 80px;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .content-container {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: -350px;
    background-position-y: -50px;
    height: 100%;
  }
  
  .content-container2 {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: 550px;
    background-position-y: 80px;
    height: 100%;
  }
}

@media screen and (max-width: 609px) {
  .content-container {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -350px;
    background-position-y: -50px;
    height: 100%;
  }
  .content-container2 {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position-x: 400px;
    background-position-y: 150px;
    height: 100%;
  }
}
@media screen and (max-width: 414px) {
  .content-container {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -250px;
    background-position-y: -50px;
    height: 100%;
  }
  .content-container2 {
    background-image: url('./stack_of_presents.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position-x: 300px;
    background-position-y: 150px;
    height: 100%;
  }
}

.content-container, .content-container2 {
  height: 100%;
}